
# Default
# ------------------------------------------------------------------------------
Django==1.11.17
django-widget-tweaks
pkg-resources
psycopg2

# Code quality
# ------------------------------------------------------------------------------
pycodestyle


# Testing
# ------------------------------------------------------------------------------

tox
pytest
pytest-cookies
