{% extends 'base.html' %} 
{% block content %}
    <div>
        <h1 style="float: left;">Goals</h1>
        <a href="{% url 'add' %}" class="btn btn-primary btn-sm" style="float: right;"> Add Goal</a>
        <dir class="clearfix"></dir>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Description</th>
                <th>Created</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for goal in goals %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{goal.title}}</td>
                <td>{{goal.description}}</td>
                <td>{{goal.created}}</td>
                <td>
                    <a class="btn btn-success btn-sm" href="{% url 'edit' goal.pk %}"></span>Edit</a>
                    <a class="btn btn-danger btn-sm" data-href="{% url 'delete' goal.pk %}" type="button" class="btn btn-primary" onclick="delete_confirmation($(this))">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <!-- The Modal -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog ">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Confirm delete ?</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <p>Are you sure you want to delete  ? This process is irreversible.</p>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <a class="btn btn-danger" id="id_delete_confirm_btn" href="">Delete</a>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}







